## Create a new cartoframe from a pandas.DataFrame

In [1]:
import pandas as pd
import cartoframes
import numpy as np
import json
APIKEY = json.loads(open('credentials.json').read())['api_key']
USERNAME = json.loads(open('credentials.json').read())['username']

In [2]:
multiplier = 2000
awesome = {'ids': list('abcdefghij') * multiplier,
           'scores': np.random.random(10 * multiplier),
           'lat': 40.7128 + (0.5 - np.random.random(10 * multiplier)),
           'lon': -74.0059 + (0.5 - np.random.random(10 * multiplier))}
df = pd.DataFrame(awesome)
df.head()

  ids        lat        lon    scores
0   a  40.961058 -73.517608  0.686168
1   b  40.659230 -74.082445  0.796796
2   c  41.148131 -73.959331  0.632230
3   d  40.375517 -73.670416  0.266940
4   e  40.501712 -73.763133  0.354215

In [3]:
df.sync_carto(username=USERNAME,
              api_key=APIKEY,
              requested_tablename='awesome_new_table_20000_rows',
              createtable=True,
              is_org_user=True, 
              latlng_cols=('lat', 'lon'))

New cartoframe created. Table on CARTO is called `awesome_new_table_20000_rows`

In [4]:
df.head()

,ids,lat,lon,scores,the_geom
cartodb_id,,,,,
1,a,40.961058,-73.517608,0.686168,0101000020E61000003CFFC6C7468552C0A57EF1A56154...
2,b,40.659230,-74.082445,0.796796,0101000020E6100000AF0E3DAD657D52C0CB37CBF2F592...
3,c,41.148131,-73.959331,0.632230,0101000020E61000002E7DAB19E86A52C057110EED1030...
4,d,40.375517,-73.670416,0.266940,0101000020E610000046AA422DD77052C06F31C9193840...
5,e,40.501712,-73.763133,0.354215,0101000020E61000006FB59DB81D8D52C0B2CF947AA030...